<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaxFit</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Plugin/css")
    @Scripts.Render("~/bundles/modernizr")
    </head>
<body>
    <div id="logout" style="text-align:end; margin:20px">
        <a class="btn btn-dark btn-sm" href="@Url.Action("logOut","User")">Cerrar Sesión</a>
    </div>
    <div class="text-center">
        <img src="~/favicon.ico" class="img-fluid" alt="...">
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/Plugin/js")
    @RenderSection("scripts", required: false)
</body>
</html>
